* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: fantasy;
    background-color:white;
    text-align: center;
}
.page-title {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    color:black;
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
}
#quiz {
    display: none;
}
#scores {
    display: none;
    margin: 0 30px 0 30px;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}
